<link
  href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap"
  rel="stylesheet"
/>

<div class="container">
  <ng-container *ngFor="let item of news">
    <div class="card">
      <figure class="card__thumb">
        <img [src]="item.media" [alt]="item.rights" class="card__image" />
        <figcaption class="card__caption">
          <h2 class="card__title">
            {{ item.title }}
          </h2>
          <p class="card__snippet">
            {{ item.summary }}
          </p>
          <a [href]="item.link" class="card__button">Read more</a>
        </figcaption>
      </figure>
    </div>
  </ng-container>
</div>
