<div class="news__card">
  <ng-container *ngFor="let item of news; let even = even; let odd = odd">
    <ng-container *ngIf="odd">
      <div class="blog-card">
        <div class="meta">
          <div
            class="photo"
            [ngStyle]="{ 'background-image': 'url(' + item.media + ')' }"
          ></div>
          <ul class="details">
            <li class="author">
              <a href="#">{{ item.author }}</a>
            </li>
            <li class="date">{{ item.published_date | date }}</li>
            <li class="tags">
              <ul>
                <li>
                  <a href="#">{{ item.topic }}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="description">
          <h1>{{ item.title }}</h1>
          <h2>{{ item.excerpt }}</h2>
          <p>
            {{ item.summary }}
          </p>
          <p class="read-more">
            <a [href]="item.link">Read More</a>
          </p>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="even">
      <div class="blog-card alt">
        <div class="meta">
          <div
            class="photo"
            [ngStyle]="{ 'background-image': 'url(' + item.media + ')' }"
          ></div>
          <ul class="details">
            <li class="author">
              <a href="#">{{ item.author }}</a>
            </li>
            <li class="date">{{ item.published_date | date }}</li>
            <li class="tags">
              <ul>
                <li>
                  <a href="#">{{ item.topic }}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="description">
          <h1>{{ item.title }}</h1>
          <h2>{{ item.excerpt }}</h2>
          <p>
            {{ item.summary }}
          </p>
          <p class="read-more">
            <a [href]="item.link">Read More</a>
          </p>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
